<!DOCTYPE html>
<html class="no-js" lang="en">
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Packages - Songify</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/vendor.css">
    <link rel="stylesheet" href="css/main.css">

    <!-- script
    ================================================== -->
    <script src="js/modernizr.js"></script>
    <script src="js/pace.min.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="icon" type="image/png" href="images/icons/oie_transparent.png"/>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">

        <header class="header" style="padding-bottom: 0px">
            <div class="header__content row">

                <div class="header__logo">
                    <a class="logo" href="index">
                        <img src="images/cbm7z-0i5cb.svg" alt="Homepage" style="object-fit: cover;">
                    </a>
                </div> <!-- end header__logo -->

                <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>

                <nav class="header__nav-wrap">

                    <h2 class="header__nav-heading h6">Site Navigation</h2>

                    <ul class="header__nav">
                        <li class="current"><a href="index" title="">Services</a></li>
                        <li class="has-children">
                            <a href="#0" title="">My Profile</a>
                            <ul href="0" class="sub-menu">
                                <li><a href="editProfile">Edit Profile</a></li>
                                <li><a href="customerRequests">Request</a></li>
                                <li><a href="transaction">Transaction</a></li>
                                <li><a href="#">Logout</a></li>
                            </ul>
                        </li>
                    </ul> <!-- end header__nav -->

                    <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>

                </nav> <!-- end header__nav-wrap -->

            </div> <!-- header-content -->
        </header> <!-- header -->

    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">

            <div class="s-content__header col-full">
                <h1 class="s-content__header-title">
                  Outdoor Sound Package
                </h1>
            </div> <!-- end s-content__header -->
    
            <div class="s-content__media col-full">
                <div id="map-wrap">
                    <center><a><img src="images/rentals/package2.PNG" style="padding-top: 47px"></a></center>
                </div> 
            </div> <!-- end s-content__media -->

            <div class="col-full s-content__main">
                <h3>Description of package</h3>
                <p class="lead">
                    Outdoor Package  a package  that coughs noise every other minute. It leaves the guests wondering if you were forced to hold the event in the first place. One of those things to pay proper attention to in any event or occasion is your this package because it promotes how loud sound is being implied in a event.
                </p>

                <div class="row">
                    <div class="col-six tab-full">
                        <h3>Equipments available in package</h3>

                        <p>
                        <li>(2) speakers on stands</li>
                        <li>(1) wireless handheld or lapel microphone</li>
                        <li>all required cabling</li>
                        <li>delivery, set-up & strike
                            power source not included</li>
                        </p>

                    </div>

                    <div class="col-six tab-full">
                        <h3>Price Range</h3>
                        
                        <p>
                        </p>

                    </div>
                </div> <!-- end row -->

                <div class="col-full s-content__main">
                    <form name="cForm" id="cForm" method="post" action="">
                        <fieldset>

                            <h3 class="add-bottom">Rental Form</h3>

                            <div>                        
                                <div>
                                    <label for="sampleRecipientInput">Units/Packages:</label>
                                    <input class="full-width" type="email" value="Multi-Participant Meeting Style Sound Package" disabled="disabled">
                                    </div>
                                </div>                        

                                <div>
                                    <label for="sampleInput">Home/Office Address:</label>
                                    <input class="full-width" type="email" placeholder="Your Address" id="sampleInput">
                                </div>

                                <div>
                                    <label for="sampleInput">Rental delivery time:</label>
                                    <input class="full-width" type="email" placeholder="Rental delivery time : (ex08:30am-7:00pm)" id="sampleInput">
                                </div>

                                <div>
                                    <label for="sampleInput">Rental Start Date:</label>
                                    <input class="full-width" type="email" placeholder="Rental Start Date: MM/DD/YYYY (optional)" id="sampleInput">
                                </div>

                                <div>
                                    <label for="sampleInput">Rental End Date:</label>
                                    <input class="full-width" type="email" placeholder="Rental End Date: MM/DD/YYYY (optional)" id="sampleInput">
                                </div>

                                <input class="btn--primary full-width" type="submit" value="SEND REQUEST">

                            <!-- <iframe src="rentalForm/index.html" width="500" height="750"></iframe> -->
                            </div>
                        </fieldset>
                    </form> <!-- end form -->

                </div> <!-- end s-content__main -->
           
            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->



    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

</body>

</html>